div.code {
    border: solid 1px black;
    border-radius: 5px;
    padding: 5px;
    color: white;
    background-color: black;
    
}
pre, xmp {
    text-align: left;
    white-space: pre-wrap;
    background-color: rgb(95, 95, 95)
}