body {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15%;
    padding-right: 15%;
    font-family: "Roboto";
    text-align: center;
    background-color: black;
    color: white;
}
article {
    padding: 10px;
    background-color: black
}
input {
    text-align: center;
}

kbd {
    background-color: #f0f0f0;
    border: solid 1px #ccc;
    color: black;
    border-radius: 3px;
    padding: 2px;
}

blockquote {
    border: 2px black solid;
    border-radius: 10px;
    background: rgb(190, 190, 190);
    padding: 5px;
}

pre {
    background-color: rgb(95, 95, 95);
    border-radius: 5px;
    color: white;
    border: 1px solid white;
    padding: 50px;
    text-align: left;
    margin-left: 100px;
    margin-right: 100px;
}

.navlink {
    color: white;
    text-decoration: none;
}
.navlink.selected, .navlink:hover {
    color: red;
}

ul {
    display: inline-block;
    text-align: left;
}

.ipaddr {
    font-style: italic;
    color: rgb(196, 196, 196);
    border-bottom: 2px dotted rgb(196, 196, 196);
    position: relative;
    display: inline-block;
}

.ipaddr .tooltip {
    visibility: hidden;
    width: 150px;
    background-color: rgb(86, 86, 86);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: medium;
   
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.ipaddr:hover .tooltip {
  visibility: visible;
}