body {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25%;
    padding-right: 25%;
    font-family: Arial, sans-serif;
    text-align: center;
}

article {
    text-align: left;
    border: dashed 1px;
    border-radius: 10px;
    padding: 10px;
}
input {
    text-align: center;
}

kbd {
    background-color: #f0f0f0;
    border: solid 1px #ccc;
    border-radius: 3px;
    padding: 2px;
}

.navlink {
    color: black;
    text-decoration: none;
}
.navlink.selected, .navlink:hover {
    color: red;
}

