h1, h2, h3, p, a, li {
    font-family: sans-serif;
    color: black;
}

h2, h3 {
    font-style: italic;
    text-decoration: underline wavy blue;
}

a {
    color: red;
}

a:hover {
    color: orange;
}

body {
    margin: 10%, 10%, 10%, 10%;
    color: rgb(244, 244, 244);
    line-height: 200%;
}

.footer {
    font-size: xx-small;
    color: rgb(220, 220, 220);
}